@use 'variables';

.more p{
text-transform: uppercase;
font-weight: 700;
}

.date, .more{
display: flex;
}

.date p, .more p{
margin-bottom: 0;
}


.date img{
margin-right: 10px;
}

.more img{
margin-left: 10px;
}

.publish a{
color: variables.$text-color;
}

.info-box{
background-color: white;
border: variables.$border;
height: 250px;
padding: 30px;
}

.row-info-box{
row-gap: 25px;
}

.container-info-box{
margin: 0;
padding-left: 0;
}

.pos-rel{
position: relative;
}

.more {
position: absolute;
bottom: 30px;
}

.split{
background-color: variables.$primary-color;
display: flex;
padding: 16px 22px;
border-radius: 3px;
border: none;
align-items: center;
}


.more-actualities p{
color: white;
font-weight: 400;
margin: 0;
font-size: 1rem;
margin-right: 10px;
}

.more-actualities a{
text-decoration: none;
}

.more-actualities{
display: flex;
justify-content: flex-end;
}


.list-square{
display: flex;
align-items: center;
margin-bottom: 10px; 
}


.placemen h3, .flat h3{
margin: 0 0 0 10px;
}

.row-placemen{ 
row-gap: 20px;
}

.phone{
text-decoration: none;
color: variables.$text-color;
}

.mail {
text-decoration: none;
color: variables.$primary-color;
}

.contact-info, .placemen p, .description p{
margin-left: 20px;
}

.data p{
margin-bottom: 6px;
}

.data{
margin-bottom: 30px;
}

@media (min-width: 992px) {
.data {
display: grid;
grid-template-columns: 25% 2fr;
margin-bottom: 0px;
}

.data p{
margin-bottom: 1rem;
}

}
