@use 'variables';

footer{
background-color: #DFDFDF;
}

.footer-content{
max-width: 1400px;
margin: 0 auto;
padding: 60px 20px;
}

@media (min-width: 992px) {
.footer-content{
display: grid;
grid-template-columns: 1fr 1fr;
}
}

.contact {
margin-bottom: 30px;
}

.contact p{
margin-bottom: 6px;
}

.map{
margin-top: 30px;
}

.day p {
font-weight: 700;
margin-bottom: 6px;
}


@media (min-width: 500px) {
.each-day {
display: grid;
grid-template-columns: 20% 1fr;
}
}

.copyright{
background-color: #B7B5B5;
padding: 15px;
}

.copyright p{
margin-bottom: 0;
max-width:1400px;
margin: 0 auto;
color: rgb(56, 56, 56)
}

.h2-contact::after, .h2-hours::after, .h2-map::after {
width: 45%;
min-width: 300px;

}